<div class="calculator">
  <div class="title">
    <p>João Alfredo</p>
  </div>
  <div class="loan-slider">
    <div class="item-aligner">
      <p>Amount</p>
      <p>{{loan}} €</p>
      <i class="material-icons">add_circle</i>
      <i class="material-icons">remove_circle</i>
    </div>
    <vue-slider
      v-model="loan"
      :min="100"
      :max="700"
      :processStyle="slider.processStyle"
      :tooltip-formatter="loanFormatter"
    />
  </div>

  <div class="time-slider">
    <div class="item-aligner">
      <p>Period</p>
      <p>{{time}} Months</p>
      <i class="material-icons">add_circle</i>
      <i class="material-icons">remove_circle</i>
    </div>
    <vue-slider
      v-model="time"
      :min="1"
      :max="16"
      :processStyle="slider.processStyle"
    />
  </div>
  <div class="day-picker">
    <div class="date-picker-grid">
      <div class="date-picker-wrapper">
        <i class="material-icons">date_range</i>
        Pick a Date
        <datepicker
         v-model="pickedDay"
         style="
            display: inline-flex;
            text-align: left;
          " />
          <p>Total to Pay: € {{total = Math.round(TotalToPay(loan, time, pickedDay)*100)/100}}</p>
      </div>
      <div class="instalments-wrapper">
        <li v-for="instalment, i in Array(this.time).keys()" class="instalment">
          {{pickedDay.getMonth()+i+1}}/
          {{pickedDay.getDate()}}/
          {{pickedDay.getFullYear()}} - 
          € {{ Math.round((total/time)*100)/100 }}
        </li> 
      </div>
    </div>
  </div>
</div>