<div class="calculator">
  <div class="title">
    <p>João Alfredo</p>
  </div>
  <div class="loan-slider">
    <div class="item-aligner">
      <p>Amount</p>
      <p>{{loan}} €</p>
      <i class="material-icons">add_circle</i>
      <i class="material-icons">remove_circle</i>
    </div>
    <vue-slider
      v-model="loan"
      :min="100"
      :max="700"
      :lineHeight="slider.lineHeight"
      :processStyle="slider.processStyle"
      :tooltip-formatter="loanFormatter"
    />
  </div>

  <div class="time-slider">
    <div class="item-aligner">
      <p>Period</p>
      <p>{{time}} Months</p>
      <i class="material-icons">add_circle</i>
      <i class="material-icons">remove_circle</i>
    </div>
    <vue-slider
      v-model="time"
      :min="1"
      :max="16"
      :lineHeight="slider.lineHeight"
      :processStyle="slider.processStyle"
    />
  </div>
  <div class="day-picker">
    <i class="material-icons">date_range</i>
    <datepicker style="
        display: inline-block;
        text-align: left;
      " />Pick a Date
      <p>{{TotalToPay(loan, time, pickedDay)}}</p>
  </div>
</div>