<div id="offcanvas-nav" uk-offcanvas="flip: true; overlay: true">

    <div class="uk-offcanvas-bar">

        <div class="offcanvas-top">
            <div class="centralize">
                <i class="material-icons">
                    whatsapp
                </i>
            </div>
            <div class="offcanvas-title"> Sign In</div>
        </div>

        <ul class="uk-nav uk-nav-default">
            <li><a routerLink="/about"><span class="uk-margin-small-right" uk-icon="icon: info"></span> Sign Up</a></li>
            <li><a routerLink="/help"><span class="uk-margin-small-right" uk-icon="icon: question"></span> Help</a></li>
        </ul>
    </div>
</div>