.offcanvas-top {
    background: #FFb700;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24), 0px 0px 4px rgba(0, 0, 0, 0.12);
}

.offcanvas-bottom {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.uk-offcanvas-bar {
    margin: 0;
    padding: 0;
    background: #fff;
}

.offcanvas-title {
    padding: 20px;
    text-align: center;
    font-family: Luckiest Guy;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 39px;
    letter-spacing: 0.1em;
    color: #1a1a1a;
    -webkit-text-stroke: 0.75px white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.centralize {
    position: relative;
    text-align: center;
    vertical-align: middle;
}

.uk-nav-default {
    padding: 20px;
}

ul {
    padding: 8px;
}

li a {
    color: #1a1a1a;
}
li a:hover {
    color: #585858;
}

span {
    color: #1a1a1a;
}